/* ~/.config/waybar/style.css - Solarized Dark */

* {
    font-family: Inconsolata, "FontAwesome";
    font-size: 20px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background-color: #002b36;
    color: #839496;
}

tooltip {
    background-color: #002b36;
    border: 1px solid #073642;
}

tooltip label {
    color: #839496;
}

#custom-layout,
#window {
    padding: 0 10px;
    color: #93a1a1;
}

#workspaces button {
    padding: 0 8px;
    color: #839496;
    background: transparent;
}

#workspaces button.focused {
    color: #93a1a1;
    background-color: #174956;
}

#workspaces button.urgent {
    color: #dc322f;
}

#clock,
#battery,
#network,
#wireplumber,
#backlight {
    padding: 0 10px;
    color: #93a1a1;
}

#battery.warning {
    color: #b58900;
}

@keyframes blink {
    to {
        color: #002b36;
        background-color: #dc322f;
    }
}

#battery.critical {
    color: #dc322f;
    animation: blink 1s steps(2) infinite alternate;
}

#network.disconnected {
    color: #586e75;
}

#wireplumber.muted {
    color: #586e75;
}
